:root {
  --bg: #0e1218;
  --text-color: #9e9ea4;
  --cards-color: #000;
  --sidebar-color: #000000;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  font-size: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* ---------- HEADER ---------- */
.header {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}

.card img {
  width: 10vw;
}


.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
  padding: 2vw 0 0 0;
  box-sizing: border-box;
  margin: 0;
  gap: 1vw;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0 2vw;
  background-color: black;
  border-radius: 0.4vw;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.tamanhos-info {
  font-size: 0.8vw;
}


.pequisa {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 0;
}

.pesquisar-text {
  color: #fff;
  font-size: 1.5vw;
  margin-bottom: 0.3vw;
}

#filterInput {
  outline: none;
  padding: 0.5vw;
  width: 20vw;
  height: 1.2vw;
  font-size: 1vw;
  border: none;
  border-radius: 0.3vw;
}


/* ---------- SPINNER ---------- */

#spinner_estoque {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}


.spinner_estoque {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: var(--sidebar-color);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 30px 30px;
  margin-bottom: 30px;
}

.sidebar-title>span {
  display: none;
}

.sidebar-brand {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: var(--bg);
  cursor: pointer;
}

.sidebar-list-item>a {
  text-decoration: none;
  color: var(--text-color);
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}


#filtro_mes,
#filtro_ano {
  background-color: var(--bg);
  color: var(--text-color);
  font-size: 1vw;
  font-weight: bold;
  padding: 0.3vw;
  border: none;
  outline: none;
}

#filtro_tipo {
  background-color: var(--bg);
  color: var(--text-color);
  font-size: 1vw !important;
  font-weight: bold;
  padding: 0.3vw;
  border: none;
  outline: none;
}

.charts-card {
  text-align: center;
}


/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}




/* ---------- MEDIA QUERIES ---------- */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title>span {
    display: inline;
  }
}

/* VERSAO MOBILE------------------- */

@media screen and (max-width: 768px) {

  body {
    height: 110vh;
  }


  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts-card {
    text-align: center;
  }

  #close {
    position: absolute;
    right: 2vw;
    top: 10vw;
  }

  #photo {
    width: 30vw !important;
  }

  #filtro_mes,
  #filtro_ano {
    background-color: var(--bg);
    color: var(--text-color);
    font-size: 4vw;
    padding: 0.3vw;
    border: none;
    outline: none;
  }

  #filtro_tipo {
    background-color: var(--bg);
    color: var(--text-color);
    font-size: 4vw !important;
    font-weight: bold;
    padding: 0.3vw;
    border: none;
    outline: none;
  }

  #title {
    display: none;
  }


  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5vw;
    padding: 2vw;
    box-sizing: border-box;
    margin-top: 10vw;
  }

  .card {
    height: 90vw;
    width: 80vw;
    padding: 2vw 2vw;
  }


  .card img {
    width: 50vw;
  }

  .tamanhos-info {
    font-size: 5vw;
  }

  header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 2vw;
    justify-content: space-between;
  }

  .logo {
    display: flex;
  }

  .pequisa {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    align-items: center;
    width: 90vw;
  }

  .pesquisar-text {
    color: #fff;
    font-size: 5vw;
    margin-bottom: 3vw;
  }


  #filterInput {
    font-size: 4vw;
    padding: 3vw;
    width: 70vw;
  }

}